---
layout: base.njk
title: Archivo
permalink: "/archivo/index.html"
---
<div class="archivo">
  <h1 class="archivo__title">Archivo</h1>
  <p class="archivo__intro">El histórico completo, por secciones.</p>

  <ul class="archivo-indice">
    <li class="archivo-indice__item">
      <a href="{{ '/archivo/noticias/' | url }}">
        <span class="archivo-indice__nombre">Archivo de noticias</span>
        <span class="archivo-indice__desc">Todas las ediciones diarias, agrupadas por mes.</span>
      </a>
    </li>
    <li class="archivo-indice__item">
      <a href="{{ '/archivo/repositorios/' | url }}">
        <span class="archivo-indice__nombre">Archivo de repositorios</span>
        <span class="archivo-indice__desc">Los repositorios hot de cada día, agrupados por mes.</span>
      </a>
    </li>
  </ul>
</div>
