---
layout: base.njk
title: Repositorios
permalink: "/repositorios/index.html"
---
{% if reposEditions.length %}
  {% set ed = reposEditions[0] %}
  {% set repos = ed.repos %}
  {% set fechas = reposEditions %}
  {% set fechaAttr = "reposPath" %}
  {% set fechaActual = ed.date %}
  {% include "calendario.njk" %}
  {% include "repos-lista.njk" %}

  {% set olderPath = ed.reposOlderPath %}
  {% set newerPath = ed.reposNewerPath %}
  {% include "nav-temporal.njk" %}
{% else %}
  <p class="empty">Aún no hay repositorios hot publicados. Vuelve mañana por la mañana.</p>
{% endif %}
