---
pagination:
  data: reposEditions
  size: 1
  alias: ed
layout: base.njk
permalink: "{{ ed.reposPath }}"
eleventyComputed:
  title: "Repositorios {{ ed.date | fechaCorta }} {{ ed.year }}"
---
{% set repos = ed.repos %}
{% set fecha = ed.date %}
{% include "repos-lista.njk" %}

{% set olderPath = ed.reposOlderPath %}
{% set newerPath = ed.reposNewerPath %}
{% set fechas = reposEditions %}
{% set fechaAttr = "reposPath" %}
{% include "nav-temporal.njk" %}
